{% extends 'postapp/base.html' %}
{% block title %}Блог{% endblock %}
{% load static %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Мой блог</h1>
        <p class="lead text-muted">Этот блог является образавательным проектом. Этот сайт разработан на фреймворке django для python. Создатель сайта Жумагулов Торокелди</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
    </div>
</section>


{% include 'postapp/posts.html' %}

{% endblock %}